<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/cart.css" />
  </head>
  <body>
    <h1>My Cart</h1>
    <div class="cart-section">
      <div class="cart-items">
        <% if (cartItems.length === 0) { %>
        <p>Your cart is currently empty.</p>
        <% } else { %> <% let totalCost = 0; %> <% for (const item of cartItems)
        { %>
        <div class="cart-item" id="_<%=item.id%>">
          <div class="cart-item-main">
            <div class="item-image">
              <img
                src="<%= item.image %>"
                alt="<%= item.name %>"
                class="cart-image"
              />
            </div>
            <div class="cart-item-details">
              <h3><%= item.name %></h3>
              <p class="item-price">Price: <%= item.price %></p>
              <p class="item-quantity">Quantity: <%= item.quantity %></p>
              <p class="item-subtotal">
                Subtotal: <%= (item.price * item.quantity).toFixed(2) %>
              </p>
            </div>
          </div>
          <div class="cart-item-control">
            <button class="remove-item" id="<%= item.id %>">Remove</button>
            <button class="edit-item" id="edit_<%= item.id %>">Edit</button>
          </div>
          <div
            class="edit-controls"
            id="edit-controls_<%= item.id %>"
            style="display: none"
          >
            <input
              type="number"
              class="quantity-input"
              value="<%= item.quantity %>"
            />
            <button class="update-item" id="update_<%= item.id %>">
              Update
            </button>
          </div>
        </div>
        <% } %> <% } %>
      </div>
      <% if (cartItems.length === 0) { %>
      <a href="/" class="shopping-button">Continue Shopping</a>
      <% }else { %>
      <div class="cart-pricing">
        <div class="price-details">
          <div class="price-details-heading">
            <h2>Price Details</h2>
          </div>
          <div class="price-details-info">
            <div class="price-details-left">
              <p>Total MRP</p>
              <p>Discount</p>
              <p>Coupon</p>
              <p>Platform Fee</p>
              <p>Shipping Fee</p>
            </div>
            <div class="price-details-right">
              <p><%= totalPrice %></p>
              <p><%= 0 %></p>
              <p><%= 0 %></p>
              <p><%= 0 %></p>
              <p><%= 0 %></p>
            </div>
          </div>
        </div>
        <div class="cart-total">
          <div class="cart-total-left">
            <h3>Total quantity</h3>
            <h3>Total</h3>
          </div>
          <div class="cart-total-right">
            <h3 class="cart-total-quantity"><%= totalQuantity %></h3>
            <h3 class="cart-total-price"><%= totalPrice %></h3>
          </div>
        </div>
        <div class="cart-controls">
          <a href="/" class="shopping-button">Continue Shopping</a>
          <% if (cartItems.length > 0) { %>
          <a href="/checkout" class="shopping-button">Checkout</a>
          <% } %>
        </div>
        <% } %>
      </div>
    </div>
  </body>
  <script src="/js/cartscript.js"></script>
</html>
