<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/category.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <%- include('components/HomeNavBar') -%>
    <div class="categories">
      <% if (Array.isArray(categories)) { %> <% categories.forEach(category => {
      %>
      <div class="category-box">
        <img
          src="/images/<%= category.image %>.jpg"
          alt="<%= category.name %>"
        />
        <a href="/cat/<%= category.name %>"><%= category.name %></a>
      </div>
      <% }) %> <% } else { %>
      <p>No categories available</p>
      <% } %>
    </div>
  </body>
  <script src="/js/categoryscript.js"></script>
</html>
