<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <%- include('components/HomeNavBar') -%>
    <div class="categories">
      <% for (const subcategory of subcategories) { %>
      <div class="category-box">
        <div class="background-fade"></div>
        <img
          src="/images/<%= subcategory.image %>.jpg"
          alt="<%= subcategory.name %>"
        />
        <a href="/c/<%= subcategory.name %>"><%= subcategory.name %></a>
      </div>
      <% } %>
    </div>
    <script src="/js/categoryscript.js"></script>
  </body>
</html>
