<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1><%= categoryName %></h1>
    <div class="categories">
      <% for (const subcategory of subcategories) { %>
      <div class="category-box">
        <div class="background-fade"></div>
        <img
          src="/images/<%= subcategory.image %>.jpg"
          alt="<%= subcategory.name %>"
        />
        <h3><%= subcategory.name %></h3>
        <a href="/c/<%= categoryName %>/<%= subcategory.name %>">See More</a>
      </div>
      <% } %>
    </div>
  </body>
</html>
